body {
	background-color: #fff;
	font-family: helvetica, sans-serif;
}
textarea {
	display: block;
	margin: 10px;
	width: 250px;
	height: 20px;
}
#message {
	width: 250px;
	height: 200px;
}
#send {
	width: 120px;
	height: 35px;
	color: #fff;
	border: none;
	margin: 10px;
	background-color: red;
}
span {
	color: red;
	margin: 10px;
}
hr {
	border: 2px solid red;
}